
/* Intro header image 

.intro-header.big-img {
  background-position: left center;
}
.intro-header.big-img  .big-img-transition {
  background-position: left center;
}

#contact-form p {
  margin-bottom: 10px;
}

#contact-form .form-control {
  margin-bottom: 15px;
} 
*/

/* Nathan Lam
   June 2, 2017

   Add this css for responsive embedded videos in your .css file. */

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
