<footer class="center">

	{% if site.show_social_icons_footer %}
		{% include social_links_footer.html %}
	{% endif %}
	
  <div class="measure">
    <small>
      &#169; {{ "now" | date: "%Y" }} {{ site.author }} &#8226; <a href="https://github.com/johnotander/pixyll">Pixyll Theme</a> by <a href="http://johnotander.com">John Otander</a> &#8226; MIT License &#8226; <a href="/privacy/">Privacy</a>
    </small>
  </div>
	  
</footer>
	  
{% if site.enable_anchorjs %}<!-- AnchorJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.0.0/anchor.min.js"></script>
<script>
    anchors.options.visible = 'always';
    anchors.add('article h2, article h3, article h4, article h5, article h6');
</script>
{% endif %}
<script type="text/javascript">
    if ("serviceWorker" in navigator) {
      navigator.serviceWorker.register("{{ '/sw.js' | relative_url }}")
    }
</script>
