---
layout: default
title: Archives
long_title: Blog Archives
permalink: /archives/
redirect_from:
- /blog/
---

<h1 class="h2" id="title">{{ page.long_title }}</h1>

{% comment %}
<!--
post counter by year:
https://stackoverflow.com/a/28157613
-->
{% endcomment %}

<ul class="tag-list">
{% assign count = 0 %}
{% for post in site.posts %}
  {% assign thisyear = post.date | date: "%Y" %}
  {% assign prevyear = post.previous.date | date: "%Y" %}
  {% assign count = count | plus: 1 %}
  {% if thisyear != prevyear %}
	  <li class="tag-button">
        <span class="tag-term"><a href="#{{ post.date | date:"%Y" }}" class="tag-linkbtn">{{ thisyear }}</a></span><span class="tag-count">{{ count }}</span>
      </li>
    {% assign count = 0 %}
  {% endif %}
{% endfor %}
</ul>

<hr style="margin-bottom:20px">

<!-- posts list for each year -->
<section class="post-list">

   {% for post in site.posts %}
       {% assign currentDate = post.date | date: "%Y" %}
       {% if currentDate != myDate %}
           {% unless forloop.first %}</ul>{% endunless %}
           <h1 class="h2" id="{{ currentDate }}">{{ currentDate }}  <small><a class="fas fa-chevron-circle-up" href="#title" title="Back to top" style="background-image:none"></a></small></h1>
           <ul>
           {% assign myDate = currentDate %}
       {% endif %}
       <li>
          <span class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></span> &#8226; 
          <span class="post-date"> {{ post.date | date: '%d %b' }}</span>
       </li>
       {% if forloop.last %}</ul>{% endif %}
   {% endfor %}

</section>
